body{
    background-color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
}

.hoofdbalk{
    background-color:powderblue ;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 15px;
    height: 175px;
    width: 875px;
    text-align: center;
    
}

.tabel_hoofdbalk td{
    text-align: right;
    color : gray;
    font-size: 40px;
}
.menu {
    background-color: cornflowerblue;
    position: absolute;
    left: 80px;
    top: 100px;
    padding: 10px;
    height: 400px;
    vertical-align: bottom;
  }
.menu a:link{
    color: white;
    font-size: larger;
}

.menu a:visited{
    color: white;
    font-size: larger;
	font-weight: bold;
}


.hoofdtekst{
    background-color: lightcyan;
    position: absolute;
    left: 160px;
    top: 190px;
    margin: 50px;
    padding: 10px;
    height: 650px;
    width: 695px;
    vertical-align: bottom; 
}
.hoofdtekst img{
    width: 325px;
    height: 300px;
}